html, body, #app {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
}

.box {
  width: 200px;
  height: 60px;
  background-color: tomato;
  margin: 5px;
}

.red {
  background-color: tomato;
  order: 1;
}

.green {
  background-color: rgb(77, 255, 71);
  order: 2;
}

.blue {
  background-color: rgb(83, 71, 255);
  order: 0;
}