html, body, #app {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center; /* verticamente */
  justify-content: space-between; /* horizontalmente */
}

.box {
  width: 60px;
  height: 60px;
  background-color: tomato;
  margin: 5px;
}