html, body, #app {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.box {
  width: 200px;
  height: 60px;
  background-color: tomato;
  margin: 5px;
}